<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="IRTH All Test Suite">
    <listeners>
        <listener class-name="listeners.MyListeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/2593707/IdeaProjects/IRTH-E2E-Automation">

        <classes>
            <class name="TestCases.SearchProductPageTest"/>
        </classes>
    </test>
</suite>